ConsoleApp2/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConversionEuroToDH" type="tns:ConversionEuroToDH" />
  <xs:element name="ConversionEuroToDHResponse" type="tns:ConversionEuroToDHResponse" />
  <xs:element name="compte" type="tns:compte" />
  <xs:element name="getCompte" type="tns:getCompte" />
  <xs:element name="getCompteResponse" type="tns:getCompteResponse" />
  <xs:element name="listComptes" type="tns:listComptes" />
  <xs:element name="listComptesResponse" type="tns:listComptesResponse" />
  <xs:complexType name="ConversionEuroToDH">
    <xs:sequence>
      <xs:element name="montant" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionEuroToDHResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCompte">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCompteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:compte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="compte">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:long" />
      <xs:element name="solde" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listComptes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listComptesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:compte" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>